<%- include("header"); %>

<h1>About page</h1>

<div class="box" id="heading">
  <h1>Welcome to my ToDo list application!</h1>
</div>

<div class="box">
  <div class="item">
    <p>You can view existing lists by clicking on the list title.
      It is also possible add or rename lists in the 'list of lists' view as well.
      <br>
      <br>
      To see an individual list just click on it's name.
      <br>
      <br> Hover around to discover some tooltips.
    </p>
  </div>

  <div class="item">
    <p>In the single list view you can add or remove items.
    </p>
  </div>

  <div class="item">
    <p>This node.js app was learning about MongoDB and mongoose,
      dynamic URL handling and exercising the use of callback functions. <br>
      This backend app was written using express, ejs and mongoose.
    </p>
  </div>

</div>
<%- include("footer"); %>
