<%- include("header"); %>

<script src="https://kit.fontawesome.com/1ee3042de4.js" crossorigin="anonymous"></script>


<div class="box">
  <p>
  <ul>
    <li>wiriting hand unicode: &#9997;</li>
    <li>lower right pencil unicode 1.1: &#9998;</li>
    <li>lower left pencil unicode 7: &#128393;</li>
    <li>up arrow unicode: &#8679;</li>
    <li>back unicode: &#9099; </li>
    <li>back unicode: &#10226;</li>
    <li>edit fontawesome <i class="fas fa-pencil-alt"></i></li>
  </ul>
  </p>
</div>
<%- include("footer"); %>
