*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.calendarbody {
  /* box-sizing: border-box;*/
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
  width: 98%;
  border: 0px;
  padding: 0px;
  font-style: italic;
  overflow-y: auto;
}

.calendar1stcell {
  flex: 1 0 10%;
  margin: 0px;
  /*width=10%;*/
  border: 1px solid green;
  padding: 10px;
  align-items: center;
  font-style: italic;
  font-family: Merriweather,sans-serif;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.calendarcell {
  flex: 1 0 22.5%;
  margin: 0px;
  /*width=30%;*/
  border: 1px solid green;
  padding: 10px;
  align-items: center;
  font-style: italic;
  font-family: Merriweather,sans-serif;
  height: auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.greybackround {
  background-color: darkgrey !important;
  -webkit-print-color-adjust: exact;
}


.header {
  padding: 30px;
  margin: 30px;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.suntime {
  font-size: 10;
}

@media only print {
  #header {
    display: none;
  }

}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .calendar1stcell {
    flex: 1 0 100%;
  }

  .calendarcell {
    flex: 1 0 100%;
  }
}
