*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.calendarrow {
  display: flex;
  align-items: stretch;
  /*align-items: center;*/
  margin: auto;
  width: 80%;
  #border: 3px solid green;
  #padding: 10px;
  border: 0px;
  padding: 0px;
  font-style: italic;
  font-family: fantasy;
}

.calendar1stcell {
  /*display: in-line;*/
  flex: 1
  margin: auto;
  width: 10%;
  border: 1px solid green;
  padding: 10px;
  align-items: center;
  font-style: italic;
  font-family: Merriweather,sans-serif;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}


.calendarcell {
  /*display: in-line;*/
  flex: 2
  margin: auto;
  width: 30%;
  border: 1px solid green;
  padding: 10px;
  align-items: center;
  font-style: italic;
  font-family: Merriweather,sans-serif;
  height: auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.greybackround{
  background-color: lightgrey;
}

.header {
  padding: 30px;
  margin: 30px;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
